<div class="toolbar " role="banner">
  <span class="mx-4">Welcome</span>
    <div class="spacer"></div>
  <a>
    <span class="text-light mx-3">version 1.2</span>
  </a>
</div>
<div class="container mt-5 position-relative">
  <div class="top--section  pt-4">
    <form class="row flex-row align-items-center bg" [formGroup]="searchQuery">
      <div class="col-12 col-md-5 col-sm-6 col-lg-5  c-p">
        <input type="text" class="form-control search" placeholder="Enter Your Keyword or Url..." name="" id="" formControlName="Querytxt">
        <span *ngIf="searchQuery.controls['Querytxt'].invalid && searchQuery.controls['Querytxt'].touched " class="text-danger alert-danger p-2 mt-2">
           Keyword is required.
        </span>
      </div>
      <div class="col-12 col-md-3 col-sm-3 col-lg-3  c-p side-bar">
        <select class="form-select" (change)='handleChange($event)'>
          <option value="New York" selected>New York</option>
          <option value="California">California</option>
          <option value="Las Vegas">Las Vegas</option>
        </select>
      </div>
      <div class="col-12 col-md-2 col-sm-3 col-lg-2  c-p side-bar">
        <select class="form-select" (change)='handleSearchEngine($event)'>
          <option value="Google" selected>Google</option>
          <option value="Bing">Bing</option>
          <!-- <option value="Yahoo">Yahoo</option> -->
        </select>
      </div>
      <div class="col-12 col-md-2 col-sm-6 col-lg-2  c-p "> <input type="button" [disabled]="!searchQuery.valid" class=" btn btn-outline btn-theme d-block m-auto " style="width:100%" (click)="handleSearch()" value="Search"> </div>
    </form>
  </div>

    <div class="conatiner mt-2 position-relative">
      <div [innerHTML]="loading" class="load"></div>
      <div class="row g-0">
        <div class="col-lg-12">
          <div class="preview preview__html">
            <div *ngIf="this.flag  != true; else linkElse">
              <div clas>
                <h1 class="text-center d-flex align-items-center justify-content-center">Start Searching....</h1>
              </div>
            </div>
            <ng-template #linkElse>
              <app-google-component [data]="resData" ></app-google-component>
            </ng-template>
          </div>
        </div>
        <div class="d-none">
          <div class="preview json__response">
            <code>
              <pre>
                {{resData}}
              </pre>
            </code>
          </div>
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
